:root {
    --background-default: rgb(24, 31, 61);
    --all-height: 100%;
}

body {
    background-color: var(--background-default);
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

#canvas-background {
    overflow: hidden;
    position: fixed;
}

#modrinth-div {
    display: flex;
    height: 95px;
    width: 90px;
    transition: width 0.1s;
}

.m-link {
    padding-top: 10px;
    overflow: hidden;
    transition: opacity 0.3s;
    transition: width 0.3s;
    opacity: 0;
}

.a-link {
    margin: 10px;
}

#m-1 {
    float: left;
}

#m-2 {
    float: right;
}

.bottom {
    position: absolute;
    top: var(--all-height);
    color: white;
    text-align: center;
    width: 100vi;
    background-color: black;
}

#scroll {
    top: calc(var(--all-height) - 25px);
    box-shadow: 10px;
    position: absolute;
    left: calc(50vi - 10px);
    transition: rotate 0.3s;
}

.main {
    height: 100vh;
    position: fixed;
}

#links {
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family:'Overpass',sans-serif;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

#github {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
}

@media screen and (max-width: 400px) {
    #github {
        font-size: 15px;
    }
}

.link {
    width: 70px;
    height: 70px;
}

a {
    color: white;
    text-decoration: none;
}